body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.big-photo {
    max-width: 100%;
    padding: 5px 5px 5px 5px;
}

.big-photo img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

.timeline-photo {
    max-width: 100%;
    padding: 5px 5px 5px 5px;
}

.timeline-photo img {
    max-width: 100%;
    max-height: 512px;
    display: block;
    height: auto;
    margin: auto;
}

.timeline-photo img.unloaded-image {
    min-height: 250px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

div.photo-panel-info {
    display: inline-block
}

div.photo-panel-avatar {
    display: inline-block
}

div.photo-panel-avatar img{
    height: 40px;
    vertical-align: bottom;
}


